@model MBLabs.LGClubeWebBackendLib.Transfer.User

@using MBLabs.LGClubeWebBackendLib.Enumerator;

@{
    ViewBag.Title = "Clube LG";
    var storeId = Session["StoreId"];
}

@section scripts {
    <script>
        
    </script>
}
<style>
</style>

<div class="content">
    <div class="container">
        <div class="row">
            <h2>Bem vindo ao painel administrativo da CLUBE LG.</h2>
        </div>
    </div>
</div>
