<section id="ContentPrint" class="product-single relative" ng-controller="MainController">
    <div  class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Certificado</h2>
                    <div class="section-title-divider"></div>
                </div>
                <p class="training-paragraph">
                    <br>
                    <br>
                    Certifico que NomeDoUsuario 
                    <br>
                    concluiu o video NomeDoVideo da plataforma de treinamento do Clube LG!
                    <br>
                    <br>                    
                </p>
            </div>
        </div>
    </div>
</section>
