<section class="slider-section relative" ng-controller="MainController">
    <div class="container">
        <div class="slider-section-white-mask white-background"></div>
        <div class="slider-section-gray-mask"></div>
        <div class="row">
            <div class="col-md-12">
                <div class="relative">
                    <div class="slider-section-background">
                        <div class="section-loading" ng-show="$root.sectionLoading">
                            <div class="section-loading-inner section-loading-inner-white">
                                <img src="assets/img/loader-white.svg">
                                <div>Carregando...</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-section-container relative">
                    <div class="swiper-container home-slider" ng-show="!$root.sectionLoading">
                        <div class="swiper-wrapper text-center">
                            <div class="swiper-slide" ng-repeat="sliderItem in $root.sliderItems track by $index">
                                <div class="slider-section-container-inner">
                                    <img ng-src="{{sliderItem.PhotoPath}}">
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="landing-section training-section relative">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Treinamentos</h2>
                    <div class="section-title-divider"></div>
                </div>
                <p class="training-paragraph">
                    Sejam bem vindos ao Campos LG, sua plataforma de treinamento do Clube LG! Aqui você tem acesso aos últimos conteúdos, produtos e lançamentos e ainda fica por dentro de tudo que acontece na LG!

                    Além disso, pode tirar suas dúvidas e converter seu conhecimento em vendas.
                    <br>
                    <br>
                    Sinta-se em casa!
                </p>
            </div>
        </div>
    </div>
</section>

<section class="inner-featured-prods relative">

    <div class="section-loading" ng-show="$root.sectionLoading">
        <div class="section-loading-inner section-loading-inner-white">
            <img src="assets/img/loader-white.svg">
            <div>Carregando...</div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="progress-loader-container">
                    <div id="mainProgressLoader"></div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="featured-modules-container">
                    <div class="section-title">
                        <h2>Produtos em <strong>destaque</strong></h2>
                        <div class="section-title-divider"></div>
                    </div>

                    <div class="featured-modules-inner">

                        <div class="swiper-container featured-products-slider">
                            <div class="swiper-wrapper text-center">
                                <div class="swiper-slide relative categories-slide featured-products-slider" ng-repeat="product in $root.featuredProductsList track by $index" ng-if="product.IsFeatured">
                                    <div class="featured-modules-item-wrapper" ng-show="!$root.sectionLoading">
                                        <div class="hover-top with-transition"></div>

                                        <div class="featured-modules-item white-background">
                                            <a class="featured-modules-item-link" href="/produto/{{product.Id}}">
                                                <div class="featured-modules-item-img">
                                                    <img class="img-responsive" src="{{product.PhotoPath}}">
                                                </div>
                                                <div class="featured-modules-item-desc">
                                                    <div class="product-has-prize-badge-featured text-center">
                                                        Com premiação!
                                                    </div>
                                                    <span>{{product.Name}}</span>
                                                    <div class="section-title-divider"></div>
                                                    <p>{{product.Description}}</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="landing-section categories-section relative">
    <div class="categories-section-inner">
        <div class="container with-z-index">
            <div class="row text-center">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="red-color">Produtos por categoria</h2>
                    </div>
                    <p>Selecione abaixo a categoria desejada para conhecer mais sobre os produtos LG.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 mobile-hidden">
                    <div class="slider-chevron slider-chevron-left" ng-click="$root.goToSlideCategories('prev')">
                        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                        <span></span>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="categories-wrapper">

                        <div class="swiper-container categories-products-slider">
                            <div class="swiper-wrapper text-center">
                                <div class="swiper-slide" ng-repeat="categoryItem in $root.featuredCategories track by $index">
                                    <div class="categories-item-wrapper relative white-background ">

                                        <div class="categories-item relative text-center"
                                             style="background-image: url({{categoryItem.MenuCategory.PhotoPath}});">
                                            <a class="categories-item-link" href="/categoria/{{categoryItem.MenuCategory.Id}}">
                                            <span>
                                                {{categoryItem.MenuCategory.Name}}<br>
                                                <small>{{categoryItem.ProductCount}} produto{{categoryItem.ProductCount > 1 ? 's' : ''}}</small>
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
                <div class="col-xs-1 mobile-hidden">
                    <div class="slider-chevron slider-chevron-right" ng-click="$root.goToSlideCategories('next')">
                        <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
