<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="user-not-logged tex-center">
                <div class="user-not-logged-content">
                    <p class="text-center">
                        <img class="img-responsive center-block" src="assets/img/non-logged-logo.jpg"><br>
                        <br>



                        <strong>Para continuar você precisa estar conectado na plataforma.</strong><br>
                        <br>
                        Caso você ainda não sabe como funciona o <strong>LG Clube</strong> e o <strong>LG Campus</strong>, entre em contato conosco
                        e explicaremos o passo a passo de como você pode fazer para se tornar um membro e aproveitar todos os recursos que somente
                        a LG pode oferecer!<br>
                        <br>
                        <a class="text-uppercase red-background" href="#" target="_self">Entrar em contato</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>