@model MBLabs.LGClubeWebBackendLib.Transfer.User

<script>
    /*$.ajax({
        url: window.location.protocol + "//" + window.location.host + '/perfil/atualizar-senha',
        type: 'POST',
        dataType: 'json',
        success: function (data) {
            $('.state-list').empty();

            $.each(data.ReturnData, function (index, element) {
                $('.state-list').append($('<option>', {
                    value: element.Name,
                    text: element.Name,
                    id: element.Name
                }));
            });
        }
    });*/
</script>

<div class="tab-pane fade" id="password-tab">
    <h3 class="content-title"><u>Alterar Senha</u></h3>
    <p>Sessão dedicada para atualização de senha. Muito importante que seja uma senha de alta complexidade, pois assim oferece maior dificuldade contra ataques e roubos de senha. Não divulgue a sua senha para ninguém!.</p>
    <br><br>
    @using (Html.BeginForm("_PasswordChange", "User", FormMethod.Post, new { @class = "form form-horizontal parsley-form", data_validate = "parsley" }))
    {
        <div class="form-group">
            <label class="col-md-3">Senha Antiga</label>
            <div class="col-md-7">
                <input type="password" name="old-password" class="form-control">
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label class="col-md-3">Nova Senha</label>
            <div class="col-md-7">
                <input type="password" name="new-password" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-3">Confirmação da Nova Senha</label>
            <div class="col-md-7">
                <input type="password" name="new-password-2" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-7 col-md-push-3">
                <input type="submit" class="btn btn-primary"></input>&nbsp;
                <a href="/perfil#password-tab" type="submit" class="btn btn-default">Cancelar</a>
            </div>
        </div>
    }
</div>