<footer ng-if="$root.userIsLogged">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <ul class="footer-menu text-uppercase">
                    <li><a target="_blank" href="http://www.clubelg.com.br/destaque-mes-home.html">Acontece</a></li>
                    <li><a target="_blank" href="http://www.clubelg.com.br/campanhas.html">Campanhas</a></li>
                    <li><a target="_blank">Prêmios</a></li>
                    <li><a target="_blank">Simulador </a></li>
                    <li><a target="_blank" href="http://www.clubelg.com.br/campanhas.html">Notícias</a></li>
                    <li><a target="_blank">Treinamento</a></li>
                    <li><a target="_blank" href="http://www.clubelg.com.br/campanhas.html">Fale conosco</a></li>
                    <li><a target="_blank" href="http://www.clubelg.com.br/campanhas.html">Perguntas frequentes</a></li>
                </ul>
                <div class="footer-menu-divider"></div>
                <div class="footer-text">
                    <span>Central de Atendimento Clube LG: 0800 773 1711</span>
                    <span>Horário de Atendimento: 2ª a 6ª, das 9h às 17h</span>
                </div>
            </div>
            <div class="col-md-2 footer-logo-container">
                <img class="img-responsive pull-right" src="assets/img/footer-logo.jpg">
            </div>
        </div>
    </div>
</footer>