@model MBLabs.LGClubeWebBackendWeb.Models.ProductVideoQuestionReportListModel

@using GridMvc.Html
@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Clube LG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    html {
        overflow-y: scroll;
    }
</style>

@section styles {
}

@section scripts {
}

<div class="container">
    <div class="portlet">
        <h3 class="portlet-title">
            <u>Relatório >> Por pergunta</u>
        </h3>

        <div class="portlet-body">
            <div id="table-1_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <form id="index" method="POST" class="form">
                    <div class="row container">
                        <a class="btn btn-secondary" href="/ProductVideoQuestionReport/Export">Exportar</a>
                    </div>
                </form>
                <br />
                <hr />
                <div id="div-results">
                    @Html.Grid(Model.ModelList).Columns(columns =>
               {
                   columns.Add(model => model.UserMobile.Name).Titled("Nome");
                   columns.Add(model => model.UserMobile.Email).Titled("Email");
                   columns.Add(model => model.ProductQuizItem).Titled("Resposta");
                   columns.Add(model => model.AnswerCorrect).Titled("Resp. Correta");
                   columns.Add(model => model.DtUpdate).Titled("D/H Resp.");
               })
                </div>
                @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("List", new { page }))
            </div>
        </div>

    </div>
</div>