@{
    ViewBag.Title = "Clube LG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hgroup class="title">
    <h1 class="error">Usuário não autorizado para acessar este conteúdo.</h1>
    <h2 class="error">Favor verificar junto a administração.</h2>
</hgroup>
