<div id="popup" class="white-popup mfp-hide modal-styled">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title">Deseja Remover?</h3>
            </div>

            <div class="modal-body">
                <p>Você tem certeza que deseja remover?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default mfp-close" data-dismiss="modal"></button>
                <a type="button" class="btn btn-primary btn-delete" href="#">Sim</a>
            </div>
        </div>
    </div>
</div>
