<ul class="nav navbar-nav noticebar navbar-left">
    <li class="dropdown">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-exclamation-triangle"></i>
            <span class="navbar-visible-collapsed">&nbsp;Alertas&nbsp;</span>
            <span class="badge badge-primary">1</span>
        </a>

        <ul class="dropdown-menu noticebar-menu noticebar-hoverable" role="menu">
            <li class="nav-header">
                <div class="pull-left">
                    Alertas
                </div>
            </li>

            <li class="noticebar-empty">
                <h4 class="noticebar-empty-title">Lançamento Youplay</h4>
                <p class="noticebar-empty-text">Em Breve Novidades!</p>
            </li>
        </ul>
    </li>
</ul>
