@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "[ MUNDO IRYS ] Página não encontrada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="error-container">
        <div class="error-code">
            404
        </div>
        <div class="error-details">

            <h4>Ooops, <span class="text-primary">Você esta perdido.</span>.</h4>

            <p>Nós não podemos encontrar a página que você está procurando. Há um erro de digitação na url?</p>
        </div>
    </div>
</div>
